<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Update Bill</h1> 

          <form action="/bills/{{bill._id}}/edit" method="post"> 

           
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="billName" 
                value="{{bill.billName}}" 
              />
            </div>

           
            <div class="mb-3">
              <input
                class="form-control"
                type="date" 
                name="date" 
                value="{{bill.date}}" 
              />
            </div>

            
            <div class="mb-3">
              <input
                class="form-control"
                type="number"
                name="amount" 
               
                value="{{bill.amount}}" 
              />
            </div>

            
            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                
              >{{bill.description}}</textarea>
            </div>

            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
